<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/registracija.css' />
    <title>Registruj se na Web shop</title>
</head>
<body>
    <div class="navb">
        <p class="fs-1 fw-lighter text-white ms-3">WEB shop</p>
    </div>

    <div class="h">
        <h1 class="display-4 text-white text-center mb-4">Registruj se kao:</h1>
    </div>
    <div class="center">
        <button onclick="window.location.href = '/registracija/kupac'" class="btn kupac p-3 m-3 text-white">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Kupac</button>

        <button onclick="window.location.href = '/registracija/trgovac'" class="btn trgovac p-3 m-3 text-white">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            Trgovac</button>
    </div>


</body>
</html>
