<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <img src="/images/profilneSlike/<%=prviKupac.profilna_slika%>" alt="nesto">

</body>
</html>
